@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Tektur", "cursive";
	letter-spacing: 0.4px;
}

.Home,
.Tech {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.Home,
.Contact {
	background-image: url("../public/publicImages/home-bg.png");
}
.Tech {
	background-image: url("../public//publicImages/testimonials-bg.png");
}

.Project {
	background-image: url("../public//publicImages/some-facts-bg.png");
}
